extends base
- var current_title = page.title || tag.name || category.name || site.title

block title
  title= config.title + " | " + config.subtitle
block content

  for post in page.posts.toArray()
    .post
      h2.post-title
        include _partial/helpers
        a(href=url_for(post.path))
          +title(post)
      .post-meta= post.date.format(config.date_format)
      span.ds-thread-count(data-thread-key=post.path)
      if post.description
        .post-content= post.description
      else if page.excerpt
        .post-content= page.excerpt
      else if post.content
        .post-content= strip_html(post.content).replace(/^\s*/, '').replace(/\s*$/, '').substring(0, 300)
      p(class="readmore")
        a(href=url_for(post.path))= __('Readmore')

  include _partial/paginator
