extends base

block title
  title= page.title + " | " + config.title

block content
  .post.post-page
    h1.post-title= page.title
    .post-meta= page.date.format(config.date_format) + " | "
      if page.categories.length > 0
        span.categories= __('belongsto')
          for category in page.categories.toArray()
            a(href=url_for(category.path))= " " + category.name
    if theme.duoshuo
      span.ds-thread-count(data-thread-key=page.path)
    if theme.disqus
      span.disqus-comment-count(data-disqus-identifier=page.path)
    if page.toc
      div(class="clear")
        div(id="toc" class="toc-article")
          div(class="toc-title")= __('contents')
          != toc(page.content)
    .post-content
      != page.content
    if page.tags
      .tags
        for tag in page.tags.toArray()
          a(href=url_for(tag.path))= tag.name
    include _partial/post_nav
    if theme.duoshuo
      div(class='ds-share flat' data-thread-key=page.path, data-title=page.title, data-url=page.permalink)
         .ds-share-inline
            ul.ds-share-icons-16
              li(data-toggle='ds-share-icons-more')
                a(class='ds-more' href='javascript:void(0);') 分享到：
              li
                a(class='ds-weibo' href='javascript:void(0);' data-service='weibo') 微博
              li
                a(class='ds-qzone' href='javascript:void(0);' data-service='qzone') QQ空间
              li
                a(class='ds-qqt' href='javascript:void(0);' data-service='qqt') 腾讯微博
              li
                a(class='ds-wechat' href='javascript:void(0);' data-service='wechat') 微信
            .ds-share-icons-more

    include _partial/comments
