if theme.fancybox == true
  script(type='text/javascript', src='//cdn.jsdelivr.net/gh/fancyapps/fancybox/dist/jquery.fancybox.min.js', async)
  script(type='text/javascript', src=url_for(theme.js) + '/fancybox.js' + '?v=' + theme.version, async)
  link(rel='stylesheet', type='text/css', href='//cdn.jsdelivr.net/gh/fancyapps/fancybox/dist/jquery.fancybox.min.css')

if theme.swiftype
  script.
    (function(w,d,t,u,n,s,e){w['SwiftypeObject']=n;w[n]=w[n]||function(){
    (w[n].q=w[n].q||[]).push(arguments);};s=d.createElement(t);
    e=d.getElementsByTagName(t)[0];s.async=1;s.src=u;e.parentNode.insertBefore(s,e);
    })(window,document,'script','//s.swiftypecdn.com/install/v2/st.js','_st');
    _st('install','#{theme.swiftype}','2.0.0');

if theme.self_search == true
  link(rel='stylesheet', type='text/css', href=url_for(theme.css)+'/search.css' + '?v=' + theme.version)
  script(type='text/javascript', src=url_for(theme.js) + '/search.js' + '?v=' + theme.version)
  script.
     var search_path = '#{config.search.path}';
     if (search_path.length == 0) {
        search_path = 'search.xml';
     }
     var path = '#{config.root}' + search_path;
     searchFunc(path, 'local-search-input', 'local-search-result');

if theme.canvas_nest.enable == true
    - var color=theme.canvas_nest.color || "0,0,0"
    - var opacity=theme.canvas_nest.opacity || "0.5"
    - var zIndex=theme.canvas_nest.zIndex || "-2"
    - var count=theme.canvas_nest.count || "50"
    script(type='text/javascript', color=color, opacity=opacity, zIndex=zIndex, count=count,src='//cdn.jsdelivr.net/npm/canvas-nest.js/dist/canvas-nest.min.js')

if theme.love == true
    script(type='text/javascript',src='/js/love.js')

if theme.copycode == true
    script(type='text/javascript',src='/js/copycode.js',successtext=__('copy_success_text'))
    link(rel='stylesheet', type='text/css', href='/css/copycode.css')

if page.mathjax
  include mathjax.pug

if page.mathjax2
  include mathjax2.pug

script(type='text/javascript', src=url_for(theme.js) + '/codeblock-resizer.js' + '?v=' + theme.version)
script(type='text/javascript', src=url_for(theme.js) + '/smartresize.js' + '?v=' + theme.version)
