if theme.gitment.enable == true
    #container
    link(rel='stylesheet', href=url_for(theme.css) + '/default.css' + '?v=' + theme.version)
    script(src=url_for(theme.js) + '/gitment.browser.js' + '?v=' + theme.version)
    script.
      var gitment = new Gitment({
        owner: '#{theme.gitment.owner}',
        repo: '#{theme.gitment.repo}',
        oauth: {
          client_id: '#{theme.gitment.client_id}',
          client_secret: '#{theme.gitment.client_secret}',
        },
      })
      gitment.render('container')

if theme.disqus
  #disqus_thread
    .btn_click_load
      button.disqus_click_btn 阅读评论 「请确保 disqus.com 可以正常加载」
    script.
      var disqus_shortname = '#{theme.disqus}';
      var disqus_identifier = '#{page.path}';
      var disqus_title = '#{page.title}';
      var disqus_url = '#{config.url}/#{page.path}';
      $('.btn_click_load').click(function() {
        (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
        $('.btn_click_load').css('display','none');
      });
      $.ajax({
        url: 'https://disqus.com/next/config.json',
        timeout: 3000,
        type: 'GET',
        success: (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          $('.btn_click_load').css('display','none');
        })(),
        error: function() {
          $('.btn_click_load').css('display','block');
        }
      });
    script(id='dsq-count-scr', src='//#{theme.disqus}.disqus.com/count.js', async)

if theme.uyan
  #uyan_frame
  script(type='text/javascript' src='http://v2.uyan.cc/code/uyan.js?uid=#{theme.uyan}')

if theme.changyan
  div#SOHUCS(sid=page.date.valueOf())
  script.
    (function(){var appid='#{theme.changyan}';var conf='#{theme.changyan_conf}';var width=window.innerWidth||document.documentElement.clientWidth;if(width<960){window.document.write('<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id='+appid+'&conf='+conf+'"><\/script>')}else{var loadJs=function(d,a){var c=document.getElementsByTagName("head")[0]||document.head||document.documentElement;var b=document.createElement("script");b.setAttribute("type","text/javascript");b.setAttribute("charset","UTF-8");b.setAttribute("src",d);if(typeof a==="function"){if(window.attachEvent){b.onreadystatechange=function(){var e=b.readyState;if(e==="loaded"||e==="complete"){b.onreadystatechange=null;a()}}}else{b.onload=a}}c.appendChild(b)};loadJs("https://changyan.sohu.com/upload/changyan.js",function(){window.changyan.api.config({appid:appid,conf:conf})})}})()

if theme.livere
  div(id='lv-container' data-id='city' data-uid='#{theme.livere}')
    script.
      (function(d, s) {
         var j, e = d.getElementsByTagName(s)[0];
         if (typeof LivereTower === 'function') { return; }
         j = d.createElement(s);
         j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
         j.async = true;
         e.parentNode.insertBefore(j, e);
      })(document, 'script');
