span.post-time
  span.post-meta-item-text= ' | '
  span.post-meta-item-icon
    i.fa.fa-keyboard-o
    span.post-count= ' '+wordcount(page.content)
    span.post-meta-item-text= " "+__('word_cnt')
span.post-time= ' | '
  span.post-meta-item-icon
    i.fa.fa-clock-o
    span.post-count= ' '+min2read(page.content)
    span.post-meta-item-text= ' '+__('read_time')
